.topbar {
  background-color: chocolate;
  color: white;
  padding: 8px;
  padding-top: 11px;
}

.tagline {
  font-size: 20px;
  font-family: cursive;
}

.logo {
  color: #886306;
  padding-top: 40px;
  padding-bottom: 10px;
  font-size: 50px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(173, 171, 171);
}

.tm {
  position: relative;
  top: -36px;
  left: -9px;
  font-size: 12px;
}

.mm-g {
  background: linear-gradient(to right, #a11c0f, #5928ab);
  color: white;
  padding: 6px 20px;
  width: 100%;
  margin: 0;
  font-size: 24px;
}

.gm-g {
  background: linear-gradient(to right, #405226, #7a1d1d);
  color: white;
  padding: 6px 20px;
  width: 100%;
  margin: 0;
}

.tm-g {
  background: linear-gradient(to right, #306b5d, #c06998);
  color: white;
  padding: 6px 20px;
  width: 100%;
  margin: 0;
}

.product-div {
  padding-top: 40px;
  padding-bottom: 40px;
}

.copy-right {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 12px;
  padding-bottom: 5px;
}

.cursive {
  font-family: "Courgette", cursive;
}

.intro {
  font-size: 24px;
  font-weight: 400;
}

.about {
  font-size: 16px;
}

.intro-section {
  margin-top: 30px;
  margin-bottom: 30px;
}

.diff-section {
  margin-top: 50px;
  margin-bottom: 30px;
}

.promise-section {
  margin-top: 50px;
  margin-bottom: 30px;
}

.diff-section h3 {
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(173, 171, 171);
}

.promise-section h3 {
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(173, 171, 171);
}

.fssai-section {
  background-color: #87CEFA;
  padding-top: 40px;
  padding-bottom: 50px;
  height: 300px;
}

.udyam-section {
  background-color: #d3fca5;
  height: 300px;

  display: flex;
  align-items: center;
  justify-content: center;

}

.fssai-logo {
  width: 33%;
  height: auto;
  margin: auto;
}

.udyam {
  font-size: 78px;
  padding-bottom: 11px;
}

.reg-no {
  font-size: 24px;
}

.sub-heading {
  font-size: 40px;
  padding-top: 40px;
  padding-bottom: 16px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(173, 171, 171);
}

.product {
  width: auto;  
  height: 200px;
  max-height: 200px;
  display: block;
  margin: auto;
}

.product-row {
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 300px;
}

.whatsapp-link,
.whatsapp-link:hover,
.whatsapp-link:focus{
    text-decoration:none;
    color:white;
}

.product-name {
  font-family: Courgette;
}

.order-btn {
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  padding: 20px;
  color: white;
}

.alice-regular {
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width:768px) {

  .product-row {
    text-align: center;
    margin-bottom: 40px;
  }

  .product-row .col-md-4,
  .product-row .col-md-6,
  .product-row .col-md-8 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .logo {
    font-size: 48px;
  }

  .sub-heading {
    font-size: 28px;
  }
}